/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background: #495057;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
    border-style: none;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background: transparent;
    vertical-align: middle;
}


.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-collapse collapse {
    text-align: center;
    flex-grow:
}

.navbar-nav {
    float: none;
    margin: auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}


.navbar-brand {
    width: 130px;
    height: 100px;
    background-image: url(../images/inf_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    border-radius: 10px;

}


.navbar ul li:hover {
    background: silver;
}


.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    color: #fff;
}

#navbar-inverse > ul > li {
    text-align: center;
}

/* Time line*/


/* RESPONSIVE CSS (small-pc)
-------------------------------------------------- */

@media (min-width: 800px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
        height: 100px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;

    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
    }

    .carousel .item {
        height: 450px;
        background-color: #777;
    }

    .carousel {
        height: 50vh;
        width: 100%;
        overflow: auto;
    }
    
    .carousel .carousel-inner {
        height: 100%;
    }
    
    .back1_font {
        font-size: 80px
    }


    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .navbar ul li {
        margin-top: 27px;
        padding: 0px 15px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

/* RESPONSIVE CSS (big-pc)
-------------------------------------------------- */

@media (min-width: 1200px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
        height: 100px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;

    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
    }

    .carousel .item {
        height: 700px;
        background-color: #777;
    }

    .carousel {
        height: 100vh;
        width: 100%;
        overflow: auto;
    }
    
    .carousel .carousel-inner {
        height: 100%;
    }
    
    .back1_font {
        font-size: 80px
    }


    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .navbar ul li {
        margin-top: 27px;
        margin: 27px;
        padding: 0px 15px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
    
}


