@font-face{
    font-family: 'DungGeunMo';
    src: url(DungGeunMo.otf) format('truetype');
}

@font-face{
    font-family: 'a고딕16';
    src: url(a고딕16.ttf) format('truetype');
}

@font-face{
    font-family: 'a고딕12';
    src: url(a고딕12.ttf) format('truetype');
}

.old {
    font-family: DungGeunMo;
    font-size: 20px;
    color: #111111;
}

.bicold {
    font-family: DungGeunMo;
    font-size: 55px
}

.bicoldkr {
    font-family: DungGeunMo;
    font-size: 50px
}

.a16 {
    font-family: a고딕16;
    font-size: 18px
}

.bica16 {
    font-family: a고딕16;
    font-size: 50px
}

.a12 {
    font-family: a고딕12;
    font-size:14px;
    color: #111111;
}

.text {
    text-align: center;
}

/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar {
    margin-bottom: 0;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
    border-style: none;

}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background: #495057; //투명색
}


.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-collapse collapse {
    text-align: center;
    flex-grow:
}

.navbar-nav {
    float: none;
    margin: auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}


.navbar-brand {
    width: 74px;
    height: 50px;
    background-image: url(../images/inf_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    border-radius: 10px;
}


.navbar ul li:hover {
    background: silver;
}


.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    color: #fff;
}

#navbar-inverse > ul > li {
    text-align: center;
}

.space {
    height: 50px;
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
        height: 100px;
        background: #495057;

    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;

    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
        background: transparent;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
    }

    .back1_font {
        font-size: 80px
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .navbar ul li {
        margin-top: 27px;
        padding: 0px 15px;
    }

    .navbar-brand {
        width: 130px;
        height: 100px;
        background-image: url(../images/inf_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .space {
        height: 100px;
    }
}


@media (min-width: 1024px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
        height: 100px;
        background: #495057;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;

    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
        background: transparent;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .navbar ul li {
        margin-top: 27px;
        margin: 27px;
        padding: 0px 15px;
    }

    .navbar-brand {
        width: 130px;
        height: 100px;
        background-image: url(../images/inf_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .space {
        height: 100px;
    }
}
