<!-- add css style -- > 

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100%;
    background-image: url(back.jpg);
    background-size: cover;

}

.navbar {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: .5s;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.navbar ul li:hover {
    background: orange;
}

.box {
    width: 80%;
    height: 2000px;
    background: green;
    margin: 20px auto;

}

.inf_logo {
    width:auto;
    list-style-position: :inside;
    list-style-image: url(back.jpg);
    list-style-type:disc;
}
